<style>
 .product-cards-container {display: grid;grid-template-columns: repeat(4, 1fr);align-items: flex-start;gap: 1rem;vertical-align: baseline;}
  @media (max-width:990px){
 .product-cards-container {display: grid;grid-template-columns: repeat(2, 1fr);}   
  }
</style>
<div class="section-container page-width section-gap-top-bottom">
  <div class="container-title">
    <h5 class="section-title">{{ section.settings.title }}</h5>
    <p class="section-subtitle cursive">{{ section.settings.subtitle }}</p>
  </div>
  <div class="product-cards-container">
    {% for block in section.blocks %}
      <div class="product-card-container">
     {% render 'card-product', card_product:block.settings.product, show_quick_add:true, show_secondary_image:true, show_vendor: false, lazy_load:true %}
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Home Featured Products",
    "settings": [
      {
        "id":"title",
        "type":"text",
        "label":"Main Title"
      },
      {
        "id":"subtitle",
        "type":"text",
        "label":"Sub Text"
      }
    ],
    "blocks":[
      {
        "name":"product-card",
        "type":"card",
        "settings":[
          {
          "id":"product",
          "type":"product",
          "label":"Product"
          }
        ]
      }
    ],
    "presets":[{"name":"home featured products"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}